.add-event-form{
  background-color: white;
  margin-top: $headerHeight;
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});

  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    color:$primary;

    padding-top:20px;
    padding-bottom: 20px;
  }

  .form-group {
    margin-bottom: 1rem;
  }
}

.edit{padding:1rem;}

.dropzone {
  border: dashed $primary 2px;
  min-height: 100px;
  margin-bottom: 2rem;

  &:hover {
    border: solid $primary 2px;
  }

  div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .accepted-files {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 70%;
    flex-wrap: wrap;

    .accepted-file {
      margin: .25rem;
      border: solid $primary 1px;
      border-radius: 10px;
      padding: .5rem;
      height: auto;
    }
  }
}

.form{
  width: 87%;
  //min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories{
    margin-top:1.5rem;
}

.radio-btns{
    margin-top:1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
}


input[type="radio"] {
    display: none;
    
    &:not(:disabled) + label {
      cursor: pointer;
      padding: 10px;
      min-width: 20px;
      min-height: 20px;
      text-align: center;
      background-color: rgb(172, 172, 172);
    }

    .radio-art {
      background-color: $art;
    }
  }
  
input[type="radio"]:checked + label {
    padding: 10px;
    background-color: $primary;
    color: white;
    box-shadow: 0px 0px 20px $primary; 
}

.btn-add{
  width: 100%;
  margin-bottom: 3rem;

    border: $primary solid 1px;
    border-radius: 2px;

    padding: 8px;
    font-size: 1rem;

    background-color: $primary;
    color:white;

    text-align: center;

    cursor: pointer;

    &:hover {
      background-color: #f7f7f7;
      color: $primary;
    }
}

.dropzoneContainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-Width: 2;

  border-Radius: 2;
  border-Color: #eeeeee;
  border-Style: dashed;
  background-Color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
  max-width: 100%;
  ul {
    padding: 0;
    list-style-type: none;
    max-width: 100%;
}
}

//type buttons