.bigdetail{
    // width: 80vw;
    // height: 100vh;
    width: 70vw;
    max-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
    background: $secondary;
    color: $primary;
    border: 1px solid $primary;

    position: absolute;
    top: $headerHeight;
    left: 15vw;
    z-index: 2;


    display: flex;
    flex-direction: column;
    overflow: auto;
    // justify-content: center;
    // align-content: center;
}

.carousel-item > img { 
    width: 100%; 
  }

  .startEndWrap{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }