.bigdetail{
    max-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
    width: 100vw;
    background: $secondary;
    color: $primary;
    border: 1px solid $primary;

    position: absolute;
    top: $headerHeight;
    left: 0;
    z-index: 4;


    display: flex;
    flex-direction: column;
    overflow: auto;
}


.carousel-item {
    align-items:center;

        img { 
            align-items:center;
            width: 100%; 
            max-width: 600px;
        }
}



.startEndWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carouselImgWrap{
    width: 100%;
    display: flex;
    justify-content: center;
}