
* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color:white;
  font-weight: normal;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0px;
  width: 100vw;
  height: 4rem;
  z-index: 1;
  padding: 1rem;
  background-color: rgb(30, 18, 53);
  
  
  img{
    width: 35px;
    height: 16px;
  }
}