footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: $footerHeight;
    background-color:$primary;
    color: $secondary;
    text-align: center;

    font-size: 10px;
    padding-top: 5px;
  }