.HoverCloseBtn{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
     
    width: 25px;
    height: 25px;

    cursor: pointer;

    text-align: center;
    text-decoration: none;
    outline: none;

    background-color:$music;
    border: solid 1px $secondary;
    border-radius: 50%;

    position: absolute;
    top: 1vh;
    right: 1.6%;

    z-index: 3;

    @media (min-width: 800px) {
      position: fixed;
      top: 8vh;
      left: 37%;
    }

    @media (min-width:1000px){
      position:fixed;
      top:7vh;
      left:36.5%;
    }
  
  &:hover {background-color:$sport;}
  
  .HoverCloseBtnText{
    align-self: center;
    color: $secondary;
    font-size: 17px;
    z-index: 3;
  }
}



