.infobox-wrap{
    background:#ebebeb;
    color: black;
    padding: 20px;
    h2{
        color: #443969;
    }
}

.infobox-address{
    color: #0844ab;
}

.infobox-ratingbtn-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p{
        color: #f67171;
        font-style: italic;
        font-style: bold;
    }
    .moreInfoBtn{
        color: black !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #f67171;
        padding: 15px;
        border-radius: 5px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
            &:hover {
                background: #f03e3e;

                -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
                transition: all 0.4s ease 0s;

                }
    }

}

//customize info-box

//removing white border around the box
.gm-style-iw.gm-style-iw-c {padding:0px !important;}
.gm-style-iw-d{overflow: auto !important;}  

.gm-style-iw-d{
    width: 100%;
    max-width: 100% !important;
}

.gm-style-iw.gm-style-iw-c{
    min-width: 320px;
}

//x button
.gm-ui-hover-effect{
    img{
        width: 20px !important;
        height: 20px !important;
    }
}
