// body{
//     margin:0px;
//     box-sizing: border-box;
//     background-image: url("./images/background.png");
// }
.animationWrapper{
    background-image: url("/images/background.png");
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: 15;
    position: absolute;

    .containerOpeningAnimation{
    display: flex;
    background-color: rgba(255,255,255,0.8);
    height: 100%;
    width: 100%;
 
    
    
.animationContainer{
    
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

}
.typedTextContainer{
    margin-left: 25px;
    width: 70vw;
}
h1{
    
    font-size: 12rem;
    letter-spacing: 10pt;
    font-family: 'Raleway', sans-serif;
    color: rgb(24, 15, 42);
    font-style: oblique;
    text-shadow: 2px 2px rgba(24, 15, 42, 0.63);
    margin-top:200px;
}

img{
    width: 60px;
    position: relative;
    bottom: 85px;   
    animation: imgflip 7s infinite;
}

.bar{
    width: 60px;
    height: 30px;
    margin-left: 25px;

    animation: barUpnDown 3.5s infinite;
    animation-timing-function: ease-in;

    box-shadow: 3px 3px 10px 1px #ccc; 
}


@keyframes barUpnDown {

    0%   {height: 10px;}
    /* 25%  {height: 130px;} */
    50%  {height: 80vh;}
    /* 65%  {height: 70vh;} */
    100% {height: 10px;}
 
  }

  @keyframes imgflip {

    0%   {transform: rotateY(0deg)}
    /* 25%  {transform: rotateY(180deg)} */
    50%  {transform: rotateY(180deg)}
    /* 75%  {transform: rotateY(180deg)} */
    100% {transform: rotateY(0deg)}
 
  }


.bar1{
    background: #bf8dc0;
    
}

.bar2{
    background: #f37070;
    animation-delay: 0.1s;
}

.bar3{
    background:  #45b74a;
    animation-delay: 0.2s;
}

.bar4{
    background: #73c2fb;
    animation-delay: 0.3s;
}

.bar5{
    background: #ecda54;
    animation-delay: 0.4s;
}
}}
