#app{
    height: 100vh;
}

.addBtn{

        display: inline-block;
        padding: 25px 25px;

        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: rgb(0, 0, 0);
        background-color: $primary;
        border: solid 1.5px $secondary;
        border-radius: 50%;
        box-shadow: 0 px #999;

        position: absolute;
        bottom: 3.5vh;
        left: 1.2vh;
        z-index: 2;
      
      &:hover {background-color: rgb(76, 175, 79)}
      
      &:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

}

.hoverText {
  position: absolute;
  color: $secondary;
  bottom: 0.1vh;
  left: 2.2vh;
  z-index: 3;
  font-size: 44px;
}

