//logo
.logo {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

//top menu
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: $headerHeight;
  z-index: 1;
  padding: 1rem;
  background-color: $primary;
  

@media (max-width: 800px){

  .burger {
    display: none;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;

    .line {
      background-color: $secondary;
      width: 100%;
      height: 4px;
    }
  }
}

@media (min-width: 800px){
  .burger{
    display: none;
  }
}

@media (min-width:800px){
  .desktop-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color:$secondary;
    a {
      color: $secondary;
      text-decoration: none; 
      
      &:hover {
        text-decoration: underline;
      } 
    }
    
  }
}

@media (max-width: 800px){
  .desktop-links{
    display: none;
  }
}

.logout-pointer{
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
 
  :hover{
    text-decoration: underline;
  }
}
  
}

//sidenav for mobile version
.sidenav {
  height: 100%;
  width: 0;
  background-color: $primary;
  color: $secondary;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 5;

  display: flex;
  flex-direction: column;
  opacity: .95;
  overflow-x: hidden;
  transition: 0.5s;

  .close-sidenav {
    font-size: 70px;
    padding: 0 30px;
    cursor: pointer;
    margin-bottom: 16px;
    align-self: flex-end;
  }

  a {
    color: $secondary;
    border-left: solid $primary 2px;
    text-decoration: none;
    transition: 0.2s;
  }

  .sidenav-item {
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

//popup logout 

.popup-container {
  top:0px;
  left:0px;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: rgba(0, 0, 0, .6);
  color: $primary;

  .popup-window {
    background-color: $secondary;

    width: 300px;
    height: 170px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .popup-top-stripe {
      padding: .8rem;
      width: 100%;
      background-color: #c2c2c2;
      color: $secondary;
      font-size: 20px;
      font-weight: 400;
    }

    .popup-text {
      align-self: center;
    }

    .popup-btns {
      width: 100%;
      display: flex;
      justify-content: center;

      .btn {
        padding: .5rem;
        margin: .25rem;
        color: $secondary;
        width: 80px;
        text-align: center;
        cursor: pointer;

        &-green {
          background-color: green;

          &:hover {
            background-color: lighten(green, 10%);
          }
        }

        &-red {
          background-color: rgb(175, 3, 3);

          &:hover {
            background-color:$music;
          }
        }
      }
    }
  }
}