.user-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 6rem;

  .user-item {
    width: 90%;
  }
}

.go-back {
  text-decoration: none;
  text-align: right;
  right: 0;
  color: $primary;
  font-weight: bold;
}