.user-detail {
  display: flex;
  //align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 5rem;
    
  .user-item {
    width: 90%;
    height: 100%;
    //background-color: rgb(194, 137, 194);
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
      color:$primary;
      text-align: center;
    }

    .amazing-avatar{ 
      img{
        border-radius: 170px;
        width: 250px;
        height: 250px;
        margin:5px;
        margin-bottom: 10px;
      }
    }

    .profile-button{
      width:303px;
      display: flex;
      justify-content: space-around;

      button{
        cursor: pointer;
      }
    }
  }
}


.go-back {
  text-decoration: none;
  text-align: right;
  right: 0;
  color: $primary;
  font-weight: bold;
}