.userEvents {
  width: 100%;
  
  padding: 1rem;
  
  display: flex;
  flex-direction: column;
  
  h2 {
    color: $primary;
  }

  .eventItem {
    background-color: $secondary;

    margin: .5rem;
    padding: .25rem;

    border: solid $primary 2px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .eventTitle {
      text-align: center;
      border-bottom: solid $primary 2px;
      width: 90%;
    }

    .eventDescription {
      margin: 0 2rem;
      font-size: .8rem;
      text-align: justify;
    }

    .eventBtns {
      align-self: flex-end;
      margin-right: 2rem;
      
      .btn {
        margin: .25rem;
      }
    }
  }
}
//
//old delete event pop-up

/*
//delete event popupu
.deleteEventPopup {
  background-color: $primary;
  color: $secondary;
  height: 50vh;
  width: 80%;
  position: absolute;
  left: 10%;
  //margin-top: -15rem;
  flex-direction: column;
  

  .closeDeletePopup {
    padding: 1rem;
    cursor: pointer;
    align-self: flex-end;
    font-weight: bold;
  }
}*/