.user-detail {
  display: flex;
  
  justify-content: center;
  
  background-image: url('/images/background.png');
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  
  @media(max-width:800px){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
  }
    
  .user-profile {
    min-width: 30%;
    min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
    margin-top:4rem;
    padding-top:2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: rgba(255,255,255,0.6);
    
    @media(min-width: 800px){
      position:fixed;
      top:0px;
      left:0px;   
    }
   
    border-right: 2px solid $secondary;
    @media(max-width:800px){
      min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
      margin-top:$headerHeight;

      width: 100%;
      background-color: rgba(255,255,255,0.6);
    }
    
    h3{
      color:gray;
      font-weight: 400;
      text-align: center;
    }

    .amazing-avatar{ 
      img{
        border-radius: 50%;

        width: 300px;
        height: 300px;

        object-fit: cover;

        margin-top:3rem;
        margin-bottom: 2rem;

        box-shadow: 0px 0px 7px 2px white;
        @media(max-width:800px){
          margin-top:2rem;

          width: 250px;
          height: 250px;
        } 
      }
    }
    .personal-info{ 
      width: 320px;
      height: 180px;

      color:$primary;

      border-top: 1px solid gray;
      padding-top: 1rem;
      margin-bottom: 2rem;
      p{
        font-size: 18px;
      }
      @media(max-width: 800px){
        width: 270px;
        height: 140px;
        border-top: 1px solid gray;

        p{font-size: 15px;}
      }
      h5{
        color:gray;
        font-size: 20px;
        margin-bottom: 18px;
      }
    }
    .profile-button{
      width: 270px;
      @media(min-width: 800px){
        width: 320px;
      }

      display: flex; 
      justify-content: space-between;
      
      margin-bottom: 3rem;
      button{
        cursor: pointer;
      }    
    }
  }

  .profile-comments{
    min-height: 300px;

    @media(min-width: 800px){
      margin-top:4rem;  
      min-height:calc(100vh - #{$headerHeight} - #{$footerHeight});
      width: 70%;
    }    
    }   
  }

// Uploading user avatar
.userPicUploadContainer{
  width: 270px;
  @media(min-width:800px){
    margin-bottom: 15px;
  }
 .form{  
   width:270px; 
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   input{
      display: none;
    }
    .avatarSubmitBtn,.fileUploadNameField{
      color: white;
      display: none;

      i{
        p{
          font-weight: normal;
        }
      }
    }
    button{
      width: 100px;
      height: 50px;
      margin-bottom: 8px;
    }
    .avatarUploadLabel{
    height: 46px;

    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 2.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    i{
      p{
        font-weight: normal;
      }
    }
  }
  }
}
.popup-window.edit-info{
  overflow: visible;
  min-height: 240px;
  width: 310px;
}
.edit-info{
  width:303px;
}
.edit-profile{
  padding-left: 1rem;
  padding-bottom:1rem;

  input{
    margin-left:5px;
    border:none;
    border-bottom: 1px solid $primary;
    width: 60%;
  }

  input#email.email{
    width: 213px;
  }
}
.pswd{
  line-height: 1;
 
}
.popup-btns{
  .submit-green{
    width:100px;
  }
}
