$primary: rgb(24, 15, 42);
$secondary: white;
$borderLightGrey: rgb(212, 209, 209);

$art: #bf8dc0;
$music: #f37070;
$party: #ecda54;
$chill: #73c2fb;
$sport: #45b74a;

$headerHeight: 64px;
$footerHeight: 21px;